<%= javascript_include_tag 'form_map' %>
<%= javascript_include_tag 'form.js' %>
<script type="text/javascript" 	src="http://tile.cloudmade.com/wml/latest/web-maps-lite.js"></script>
<script type="text/javascript">
	var spot=<%= raw @spot.to_json%>;
</script>
	
<%= form_for(@spot, :html => {:multipart => true}) do |f| %>
  <%= f.error_messages %>

<div id="fields">
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :beschreibung %><br />
    <%= f.text_area :description %>
  </div>
	<!-- multiple image upload -->
	<!-- implementation taken from http://www.webyfi.com/?p=222 -->
	<div id="photos">


  </div>
	<% if !@spot.new_record? %>
		<% if @spot.photos.length > 0 %>
			<p>Standardfoto festlegen</p>
			<%= f.collection_select :selected_photo_id, @spot.photos.order("title ASC"), :id, :title %>
		<% end %>
	<% end %>
	

	<%= add_object_link("Noch ein Foto hinzufügen", f, @spot.photos.build, "photo", "#photos") %>
  <div class="actions">
    <%= f.submit %>
  </div>
<div class="hidden">
    <%= f.label :lat %><br />
    <%= f.text_field :lat %>
    <%= f.label :lng %><br />
    <%= f.text_field :lng %>	
</div>
</div>		
<% end %>

<p>Die Gefahrenstelle auf der Karte:</p>
<p>Bitte auf die Karte klicken und den Marker verschieben um die Position festzulegen.</p>

<div id="form_map" style="width: 300px; height: 300px">
	  <!-- the map is here -->
</div>
