<li>
<div id="spot_<%= spot.id %>" class="spot">	
	
	<div id="photo">
		<% if spot.photos.length > 0%>
		<%= image_tag spot.photos.find_by_id(spot.selected_photo_id).data.url(:small) %>
		<% else  %>
		There is no Photo for this spot, yet. Feel free to add one.
		<% end %>
	</div>
	
	<p><%= link_to (spot.name), spot %></p>
	<div id="description">
		<p><%= spot.description  %></p>
	</div>
	<div id='menu'>
		<%= link_to 'Editieren', edit_spot_path(spot) %> |
		<%= link_to 'Gefahrenstelle entfernen', spot, :confirm => 'Sind sie sicher?', :method => :delete %>	
	</div>
</div>	
</li>

