<li>
<div id="spot_<%= spot.id %>" class="spot">	
	<div id="photo">
		<%= image_tag spot.photo.url(:small) %>
	</div>
	<p><%= link_to (spot.name), spot %></p>
	<div id="description">
		<p><%= spot.description  %></p>
	</div>
	<div id='menu'>
		<%= link_to 'Edit', edit_spot_path(spot) %> |
		<%= link_to 'Destroy', spot, :confirm => 'Are you sure?', :method => :delete %>	
	</div>
</div>	
</li>

