<li>
<div id="spot_<%= spot.id %>" class="spot">	
	<div id="photo">
		<%= image_tag spot.photos.first.data.url(:small) %>
	</div>
	<p><%= link_to (spot.name), spot %></p>
	<div id="description">
		<p><%= spot.description  %></p>
	</div>
	<div id='menu'>
		<%= link_to 'Editieren', edit_spot_path(spot) %> |
		<%= link_to 'Gefahrenstelle entfernen', spot, :confirm => 'Sind sie sicher?', :method => :delete %>	
	</div>
</div>	
</li>

