<!-->Javascript</!-->
<%= javascript_include_tag 'overview_map' %>
<%= javascript_include_tag 'pagination' %>
<script type="text/javascript" 	src="http://tile.cloudmade.com/wml/latest/web-maps-lite.js"></script>
<script type="text/javascript">
	var spots=<%= raw @spots.to_json(:include => :photos)%>;
</script>
<!-->End of Javascript</!-->
<h1>Gefahrenstellen</h1>
<div id="map" style="width: 800px; height: 350px"></div>
<div id="AddButton">
<%= button_to 'Gefahrenstelle eintragen', new_spot_path, :method => :get %>	
</div>
<br />
<div id="spots">
	<%= render @spots %>
</div>
<div id="pagination">
	<%= will_paginate @spots %>
</div>

<div id="test">
	
</div>





<!-- just leave this alone for some time>
<%= render :partial => "search" %>
</!-->


