<!-->Javascript</!-->
<%= javascript_include_tag 'overview_map' %>
<script type="text/javascript" 	src="http://tile.cloudmade.com/wml/latest/web-maps-lite.js"></script>
<script type="text/javascript">
	var spots=<%= raw @spots.to_json%>;
</script>
<!-->End of Javascript</!-->

<h1>Listing spots</h1>
<div id="map" style="width: 600px; height: 500px"></div>
<%= button_to 'Add a Spot', new_spot_path, :method => :get %>
<br />
<h2>Spots</h2>

<div id="spots">
	<%= render :partial => "spot", :collection => @spots %>
</div>



<!-- just leave this alone for some time>
<%= render :partial => "search" %>
</!-->


