<div id="formular">
<%= javascript_include_tag 'detail_map' %>
<%= javascript_include_tag 'spoiler' %>
<script type="text/javascript" 	src="http://tile.cloudmade.com/wml/latest/web-maps-lite.js"></script>
<script type="text/javascript">
	var spot=<%= raw @spot.to_json%>;
</script>
<div id="spotInfo">
	 <h2><%= @spot.name %></h2>
	<%= image_tag @spot.photo.url(:medium) %>
	<p><%= @spot.description %></p>
	<h2>Kommentare</h2>
<div id="comments">
	<% if @spot.comments.length > 0 %>
		<%= render @spot.comments %>
	<% else %>
	Es gibt derzeit noch keine Kommentare zu dieser Gefahrenstelle. 
	<% end %>
</div>
	<div id="commentButton">
		<button>Kommentieren</button>
	</div>
	<div id="commentForm">
		<%= render "comments/form" %>	
	</div>
</div>
<%=@spot.photos.length %>
<% for photo in @spot.photos %>
  <%= image_tag photo.data.url(:small)%>
<% end %>
<h2>Die Gefahrenstelle auf einer Karte:</h2><br />
<div id="detail_map" style="width: 300px; height: 300px">
	<!-- the map is here -->
</div>
</div>
<%= link_to 'Editieren', edit_spot_path(@spot) %> |
<%= link_to 'Zur vorherigen Seite', spots_path %>
