<div id="formular">
<%= javascript_include_tag 'detail_map' %>
<%= javascript_include_tag 'spoiler' %>
<script type="text/javascript" 	src="http://tile.cloudmade.com/wml/latest/web-maps-lite.js"></script>
<script type="text/javascript">
	var spot=<%= raw @spot.to_json%>;
</script>
<div id="spotInfo">
	  <h2><%= @spot.name %></h2>
		<%= image_tag @spot.photo.url(:medium) %>
	<p>
	  <%= @spot.description %>
	</p>
	<h2>Comments</h2>
	<% if @spot.comments.length > 0 %>
		<%= render :partial => "comments/comment", :collection => @spot.comments %>
	<% else %>
		There are currently no comments for this spot. Feel free to add one.
	<% end %>
	<div id="commentButton">
		<button>Add a Comment</button>
	</div>
	<div id="commentForm">
			<%= render "comments/form" %>	
			<div id="closeButton">
				<button>Close Form</button>
			    
			</div>
	</div>
</div>
<h2>This is the spot on a map:</h2><br />
<div id="detail_map" style="width: 300px; height: 300px">
	<!-- the map is here -->
</div>
</div>
<%= link_to 'Edit', edit_spot_path(@spot) %> |
<%= link_to 'Back', spots_path %>
