<div id="comment" class="comment">
	<header>
		<div id="comment_rating">
	 			<div id = "rating_display" class="rating_display" data-rating="<%= comment.rating %>">
	 				<%= select("rating","",[1,2,3,4,5],{ :include_blank => false }) %>
	 			</div>
		</div>
		<p style="padding: 0 0 0 85px">
			<b><%= comment.title %></b>
		</p>
		<p>
		  Von <b><%= comment.commenter %></b>, <%= comment.updated_at.to_formatted_s(:short) %>
		</p>
	</header>
	<body>
		<p>
		  <%= comment.body %>
		</p>
	</body>
	
	<footer>
		<p>
			<%= link_to 'Kommentar entfernen', [comment.spot, comment],
			 								:confirm => 'Sind sie sicher?',
											:method => :delete	%> |
			<%= link_to 'Kommentar bearbeiten', edit_spot_comment_path(comment.spot, comment)%>
		</p>
	</footer>
</div>
