<div id="comment" class="comment">
	<p>
	  <b>Author:</b>
	  <%= comment.commenter %>
	</p>
	<p>
	  <b>Kommentar:</b>
	  <%= comment.body %>
	</p>
	<p>
		<b>zuletzt geändert am:</b>
		<%= comment.updated_at.to_formatted_s(:short) %>
	</p>
	<div id="comment_rating">
 		<p>
 			<b>Bewertung:</b>
 			<div id = "rating_display" class="rating_display" data-rating="<%= comment.rating %>">
 				<%= select("rating","",[1,2,3,4,5],{ :include_blank => false }) %>
 			</div>
 		</p>
	</div>
	<p>
		<%= link_to 'Kommentar entfernen', [comment.spot, comment],
		 								:confirm => 'Sind sie sicher?',
										:method => :delete	%> |
		<%= link_to 'Kommentar bearbeiten', edit_spot_comment_path(comment.spot, comment)%>
	</p>
</div>
