<h1>Kommentar editieren</h1>

<div id="formular">
	<% form_for([@spot, @comment]) do |f| -%>
  <div class="field">
    <%= f.label :author %><br />
    <%= f.text_field :commenter %>
  </div>
  <div class="field">
    <%= f.label :kommentar %><br />
    <%= f.text_area :body %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
	<% end -%>
</div>
<%= link_to 'Zurück zur Gefahrenstelle', @spot %>