<!DOCTYPE html>
<html>
<head>
  <title>Spots: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'screen' %>
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js", "jquery.rails.js", "OpenLayers-2.9.1/OpenLayers.js"%>   
  <%= javascript_include_tag "http://maps.google.com/maps?file=api&amp;v=2&amp;sensor=false&amp;key=ABQIAAAA54vP74KeGpF-G7BqkiEtDxT2yXp_ZAY8_ufC3CFXhHIE1NvwkxTksI79avQIzT5GOfsEFTMhFfdJFA" %>
	<!-- Star Rating -->
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.2/jquery-ui.js"></script>
	<%= javascript_include_tag 'jquery.ui.stars.js' %>
  <%= csrf_meta_tag %>
</head>
<body>
<div id="container">
	<p class="notice"><%= notice %></p>	
	<div id="header">
		Weberschule Gefahrenstellen
	</div>
	<%= yield %>
	<div id="footer">
		<%= render :partial => 'layouts/footer' %>		
	</div>
</div>
</body>
</html>
