<!DOCTYPE html>
<html>
<head>
  <title>Spots: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold' %>
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js", "jquery.rails.js"%>   
  <%= csrf_meta_tag %>
</head>
<body>
<div id="container">
	<p class="notice"><%= notice %></p>	
	<div id="header">
		Weberschule Gefahrenstellen
	</div>
	<%= yield %>

	<%= render :partial => 'footer' %>
</div><!--end container-->
</body>
</html>
